<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.byd.wsg.promand.project5" >

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Login.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Menu.MenuActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Dashboard.DashboardGraphActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".AddScreen.AddScreenActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="pl.byd.wsg.promand.project5.Categories.GoToAddScreenActivity"
            android:label="@string/title_activity_go_to_add_screen" >
        </activity>
        <activity
            android:name=".Dashboard.DashboardListView"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Menu.MenuActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="pl.byd.wsg.promand.project5.Categories.CategoriesActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="pl.byd.wsg.promand.project5.Categories.CarActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="pl.byd.wsg.promand.project5.Categories.MealActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="pl.byd.wsg.promand.project5.Categories.OfficeActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="pl.byd.wsg.promand.project5.Categories.RepresentationActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="pl.byd.wsg.promand.project5.Categories.TransportActivity"
            android:label="@string/app_name" >
        </activity>
     </application>

</manifest>
