<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.byd.wsg.promand.project5" >
    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="19" />  <!--   Added this line for being able to put actions in action bar   MIGUEL  -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".logins.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".menus.MenuActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".dashboards.DashboardGraphActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".add.AddScreenActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".dashboards.DashboardListView"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".projects.ProjectActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="pl.byd.wsg.promand.project5.categories.CategoriesActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="pl.byd.wsg.promand.project5.categories.CarActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="pl.byd.wsg.promand.project5.categories.MealActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="pl.byd.wsg.promand.project5.categories.OfficeActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="pl.byd.wsg.promand.project5.categories.RepresentationActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="pl.byd.wsg.promand.project5.categories.TransportActivity"
            android:label="@string/app_name" >
        </activity>
     </application>

</manifest>
